@model IEnumerable<SmartPhoneStoreApplication.Product>

@{
    ViewBag.Title = "All Phones";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<style>
    th,td{
        text-align:center;
    }
</style>

<h2 style="padding-top:20px">Filter SmartPhones</h2>

<div style="padding-top:20px" class="form-group">
    @Html.Label("Brand Name", "Brand Name", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("BrandName", ViewBag.Brands as SelectList, "Select Brand", htmlAttributes: new { @class = "form-control" , @id="Brands"})
    </div>
</div>


@using (Html.BeginForm())
{


<table id="productsTbl" class="table">
    <tr>
        <th></th>
        <th>
            <h4>Features</h4>
        </th>
        <th></th>
    </tr>

    
    @foreach (var item in Model)
    {

    <tr class="AllProducts">
        <td><img src=@Url.Content(item.ImagePath) width="100" height="200" /></td>
        <td>
            <b>Brand : </b>   @Html.DisplayFor(modelItem => item.BrandName)
            <br />
            <b>Model Name : </b>  @Html.DisplayFor(modelItem => item.ModelName)
            <br />
            <b>Price : </b>    @Html.DisplayFor(modelItem => item.Price)
            <br />
            <b>RAM : </b> @Html.DisplayFor(modelItem => item.RAM)
            <br />
            <b>ROM : </b> @Html.DisplayFor(modelItem => item.ROM)
            <br />
            <b>Display : </b> @Html.DisplayFor(modelItem => item.Display)
            <br />
            <b>Battery : </b> @Html.DisplayFor(modelItem => item.Battery)
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ProductID })
        </td>
    </tr>

        } 

    <tbody id="tbody1"></tbody>

</table>

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script type="text/Javascript">
    $(document).ready(function () {
        $("#Brands").change(function () {
            console.log($("#Brands").val());
            if ($("#Brands").val() == "") {
                $(".AllProducts").show();
            }
            else {
                $(".AllProducts").hide();
            }

            $("#productsTbl #tbody1 tr").remove();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetProducts")',
                dataType: 'json',
                data: { id: $("#Brands").val() },
                success: function (data) {
                    console.log($("#Brands").val());
                    var items = '';
                    $.each(data, function (i, item1) {

                        var pathLink = window.location.href;
                        console.log(pathLink)
                        var arr = [];
                        arr = pathLink.split('/');
                        console.log(arr[2]);
                        var path2 = item1.ImagePath;
                        console.log(path2);
                        var path3 = path2.substring(1);
                        console.log(path3);
                        var path = 'http://' + arr[2] + path3;

                        var rows = "<tr>"
                            + "<td><img src=" + path + ' width="100" height="200" /></td>'
                        + "<td><b>Brand : </b>" + item1.BrandName + "<br/>"
                            + "<b>Model Name : </b> " + item1.ModelName + "</br>"
                            + "<b>Price : </b>" + item1.Price + "</br>"
                            + "<b>RAM : </b> " + item1.RAM + "<br/>"
                            + "<b>ROM : </b>" + item1.ROM + "<br/>"
                            + "<b>Display : </b>" + item1.Display + "<br/>"
                            + "<b>Battery : </b>" + item1.Battery + "<br/>"
                            + "</td>" 
                            +"</tr>";
                        $('#productsTbl #tbody1').append(rows)
                    });
                },
                error:
                    function (ex) {
                        var s = jquery.ParseJSON(response.responseText);
                        alert("Message: " + s.Message);
                        alert("Expection Type: " + s.ExceptionType);
                    }
            });
            return false;
        })
    });
    </script>

}
