@model IEnumerable<SmartPhoneStoreApplication.Product>

@{
    ViewBag.Title = "Filter Products";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>FilterProducts</h2>

@using (Html.BeginForm())
{

    @Html.DropDownList("Brands");

<table id="productsTbl" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RAM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Display)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Battery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryCamera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondaryCamera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Processor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SimType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OsName)
        </th>
        <th></th>
    </tr>

    @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RAM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ROM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Display)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Battery)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimaryCamera)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondaryCamera)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Processor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SimType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OsName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ProductID })
                </td>
            </tr>


        } *@

    <tbody id="tbody1"></tbody>

</table>

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script type="text/Javascript">
    $(document).ready(function () {
        $("#Brands").change(function () {
            $("#productsTbl #tbody1 tr").remove();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetProducts")',
                dataType: 'json',
                data: { id: $("#Brands").val() },
                success: function (data) {
                    var items = '';
                    $.each(data, function (i, item) {
                        var rows = "<tr>"
                        + "<td>" + item.BrandName + "</td>"
                             + "<td>" + item.ModelName + "</td>"
                             + "<td>" + item.RAM + "</td>"
                             + "<td>" + item.ROM + "</td>"
                             + "<td>" + item.Display + "</td>"
                            + "</tr>";
                        $('#productsTbl #tbody1').append(rows)
                    });
                },
                error:
                    function (ex) {
                        var s = jquery.ParseJSON(response.responseText);
                        alert("Message: " + s.Message);
                        alert("Expection Type: " + s.ExceptionType);
                    }
            });
            return false;
        })
    });
    </script>

}
