@model IEnumerable<SmartPhoneStoreApplication.Order>

@{
    ViewBag.Title = "TrackOrders";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/CSS/CompareProducts.css" />

<h2 style="margin-top:30px">Track Orders</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ModelName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedDate)
        </th>

    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Product.BrandName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Product.ModelName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderStatus)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderedDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ExpectedDate)
    </td>

</tr>
}

</table>
